<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>


    .login-form {
        /*background: black;*/
        color: white;
        padding: 16px;
    }

    .us-flag {
        background: url(../images/Flag.png) no-repeat;
        background-size: cover;
    }
    .bg001 {
        background: url(../images/bg001.png) no-repeat;
        background-size: cover;
    }

    .login_page {
        background: url(../images/globe.jpg) no-repeat;
        background-size: cover;
    }

    .rcorners1 {
        border-radius: 25px;
        padding: 20px;
    }

</style>

<nav id="header-nav" class="navbar navbar-inverse">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Darkside of the Moon</a>
        </div>

    </div>
</nav>

<body class="login_page">

<div class="container-fluid text-center">

    <div class="col-sm-8">

        <div style="float:left;">
            <img src="images/Flag.png">
        </div>
        <div style="clear:both;">

        </div>

        <!--<div  class="bg001 rcorners1" style=" padding:60px ;color:white ; text-align: left">-->
            <!--<ul>-->
                <!--<li><h3>Opening another person's mail without their permission is a felony-->
                        <!--that can put the offender behind bars for up to 5 years.</h3></li>-->
                <!--<hr>-->
                <!--<li><h4> Congress shall make no law respecting an establishment of religion, or prohibiting the free-->
                    <!--exercise thereof; or abridging the freedom of speech, or of the press; or the right of the-->
                        <!--people peaceably to assemble, and to petition the Government for a redress of grievances.-->
                    <!--</h4>-->
                <!--</li>-->
                <!--<hr>-->
                <!--<li><h4>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</h4></li>-->
                <!--<li><h4>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</h4></li>-->
                <!--<li><h4>The right of the people to be secure in their persons, houses, papers, and effects, against unreasonable searches and seizures, shall not be violated, and no Warrants shall issue, but upon probable cause, supported by Oath or affirmation, and particularly describing the place to be searched, and the persons or things to be seized.</h4></li>-->
                <!--<li><h4>No person shall be held to answer for a capital, or otherwise infamous crime, unless on a presentment or indictment of a Grand Jury, except in cases arising in the land or naval forces, or in the Militia, when in actual service in time of War or public danger; nor shall any person be subject for the same offence to be twice put in jeopardy of life or limb; nor shall be compelled in any criminal case to be a witness against himself, nor be deprived of life, liberty, or property, without due process of law; nor shall private property be taken for public use, without just compensation.</h4></li>-->
                <!--<li><h4>In all criminal prosecutions, the accused shall enjoy the right to a speedy and public trial, by an impartial jury of the State and district wherein the crime shall have been committed, which district shall have been previously ascertained by law, and to be informed of the nature and cause of the accusation; to be confronted with the witnesses against him; to have compulsory process for obtaining witnesses in his favor, and to have the Assistance of Counsel for his defence.</h4></li>-->
                <!--<li><h4>Excessive bail shall not be required, nor excessive fines imposed, nor cruel and unusual punishments inflicted.</h4></li>-->
                <!--<li><h4>The enumeration in the Constitution, of certain rights, shall not be construed to deny or disparage others retained by the people.</h4></li>-->
                <!--<li><h4>The powers not delegated to the United States by the Constitution, nor prohibited by it to the States, are reserved to the States respectively, or to the people.</h4></li>-->
                <!--<li><h4>The Judicial power of the United States shall not be construed to extend to any suit in law or equity, commenced or prosecuted against one of the United States by Citizens of another State, or by Citizens or Subjects of any Foreign State.</h4></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>

    <div class="col-sm-4">

        <div >

            <form action="/" class="login-form rcorners1">

                <h2 class="form-signin-heading">Please sign in</h2>
                <button class="btn btn-lg btn-danger btn-block" type="submit">Anonymous</button>
                <br>
                <label for="userName" class="sr-only">User Name:</label>
                <input type="name" id="userName" class="form-control" placeholder="username" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <br>

                <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
                <br>

                <hr>
                <span>Forgot <a href="#">password?</a></span>
                <span>Register <a href="#">choose a display name?</a></span>

            </form>

        </div>


    </div>
</div>

</body>
</html>